html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --secondary-border-color: #afb1b8;

  --fast-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --primary-text-font: 'Roboto', 'Arial', 'Helvetica', sans-serif;
  --secondary-text-font: 'Raleway', 'Arial', 'Helvetica', sans-serif;
}

body {
  font-family: var(--primary-text-font);
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.list {
  padding: 0;
  margin: 0;

  list-style-type: none;
  text-decoration: none;

  color: currentColor;
}

.container {
  width: 1200px;

  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-flex {
  display: flex;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* header \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.item-header {
  border-bottom: 1px solid var(--border-color);
}

.logo-header {
  display: inline-block;

  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: var(--secondary-text-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--primary-text-color);
}

.accent-color {
  color: var(--accent-color);
}

.current {
  position: relative;
}

.current:active,
.current:visited {
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 10px;

  background-color: var(--accent-color);
}

.main-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-text-color);

  transition: color var(--fast-transition);
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: var(--accent-color);
}

.main-nav__list {
  display: flex;
  align-self: center;
}

.main-nav__list li:not(:last-child) {
  margin-right: 50px;
}

.contacts-list {
  display: flex;
  align-self: center;
  margin-left: auto;
}

.contacts-list li:not(:last-child) {
  margin-right: 30px;
}

.contacts-links {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--secondary-text-color);

  transition: color var(--fast-transition);
}

.contacts-links:hover,
.contacts-links:focus {
  color: var(--accent-color);
}

.contact-icon {
  margin-right: 10px;

  fill: currentColor;
  cursor: pointer;
}

.header-icon:hover,
.header-icon:focus {
  fill: currentColor;
}

/* hero \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.hero {
  max-width: 1600px;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: var(--footer-bg-color);
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../image/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--accent-text-color);
}

.hero-button {
  padding: 10px 32px;
  border-radius: 4px;
  border: 2px solid transparent;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;

  color: var(--accent-text-color);
  background-color: var(--accent-color);
}

/* modal hero \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 222px 536px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  pointer-events: initial;

  transition: opacity var(--fast-transition), visibility var(--fast-transition);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  display: inline-block;
  position: absolute;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  /* opacity: 0; */
  background-color: var(--accent-text-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  transition: transform var(--fast-transition);
}

/* .hero-button:checked + .backdrop.is-hidden > .modal {
  opacity: 1;
} */

.hero-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;

  visibility: visible;
  pointer-events: visible;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.btn-close-icon {
  transition: fill var(--fast-transition);
}

.hero-button-close:hover .btn-close-icon {
  fill: var(--accent-color);
}

.modal-title {
  display: block;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.user-name,
.user-phone,
.user-mail,
.user-comment {
  margin-bottom: 4px;

  user-select: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.user-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-bottom: 10px;
}

.user-input {
  width: 448px;
  height: 40px;

  cursor: pointer;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border var(--fast-transition);
}

.user-input:hover,
.user-input:focus,
.user-input:checked {
  border: 1px solid var(--accent-color);
}

/* .user-input:focus .user-input {
  border: 1px solid var(--accent-color);
} */

.user-input:hover + .modal-icon-input,
.user-input:focus + .modal-icon-input {
  fill: var(--accent-color);
}

input[placeholder='Enter text'] {
  padding-left: 42px;
}

.user-input::placeholder {
  opacity: 0;
}

.user-name-label,
.user-phone-label,
.user-mail-label {
  position: relative;
}
.modal-icon-input {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill var(--fast-transition);
}

.user-comment-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-input-checkbox.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.modal-icon-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;

  border: 2px solid var(--primary-text-color);
  border-radius: 3px;

  transition: border-color var(--fast-transition), background-color var(--fast-transition);
}

.modal-icon-check {
  flex-shrink: 0;
  fill: transparent;

  transition: background-color var(--fast-transition), fill var(--fast-transition);
}

.user-input-checkbox:checked + .modal-icon-checkbox > .modal-icon-check {
  fill: var(--accent-text-color);
}

.user-input-checkbox:checked + .modal-icon-checkbox {
  border-color: transparent;
  background-color: var(--accent-color);
}

.user-checkbox {
  margin-left: 7px;

  font-size: 14px;
  line-height: 1.71;
  text-align: left;

  user-select: none;

  color: var(--secondary-text-color);
}

.user-terms {
  color: var(--accent-color);
}

.user-input-textarea {
  width: 448px;
  height: 120px;
  margin-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;

  transition: border var(--fast-transition);
}

.user-input-textarea:hover,
.user-input-textarea:focus {
  border: 1px solid var(--accent-color);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.user-input-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea[placeholder='Enter text'] {
  padding-top: 12px;
  padding-left: 16px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.user-checkbox-label {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 30px;
}

/* .strong-user-checkbox {
  text-decoration: underline;
  color: var(--accent-color);
} */

.modal-send-btn {
  width: 200px;
  padding: 10px 55px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--accent-text-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* our advantages//////////////////////////////////////////////// */

.wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 3px;

  background-color: var(--secondary-bg-color);
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.advantage {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.advantage:nth-child(4n) {
  margin-right: 0;
}

.title-advantages.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}

.section-title {
  text-align: center;

  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

/* what we do */

.trade {
  padding-top: 0;
}

.craft-list__work {
  position: relative;

  width: calc((100% - 60px) / 3);
  margin-right: 30px;
}

.craft-list__work:nth-child(3n) {
  margin-right: 0;
}

/* .craft-list__image {
} */

.craft-list__title {
  position: absolute;
  bottom: 1%;

  display: flex;
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;

  color: var(--accent-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* our team \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.team {
  background-color: var(--secondary-bg-color);
}
.team__list-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__list-position {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;

  color: var(--secondary-text-color);
}

.team__list-card {
  text-align: center;

  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;

  background-color: var(--accent-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.card:nth-child(4n) {
  margin-right: 0;
}

.team__list-member {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social-network-icons {
  display: flex;
  justify-content: center;

  gap: 10px;
}

.social-network-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  cursor: pointer;

  transition: background-color var(--fast-transition);
}
.social-network-icon:hover,
.social-network-icon:focus {
  background-color: var(--accent-color);
  fill: var(--accent-text-color);
}

.social-network-icon:hover .social-icon,
.social-network-icon:focus .social-icon {
  fill: var(--accent-text-color);
}

.social-icon {
  fill: var(--secondary-border-color);

  transition: fill var(--fast-transition);
}

/* Regular Customers \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */

.customers-list {
  display: flex;
  justify-content: center;

  gap: 30px;
}

.customers-list__card {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;
  border-radius: 3px;
  border: 1px solid var(--secondary-border-color);

  cursor: pointer;

  transition: border var(--fast-transition);
}

.customers-list__icon {
  fill: var(--secondary-border-color);

  transition: fill var(--fast-transition);
}

.customers-list__card:hover,
.customers-list__card:focus {
  border: 1px solid var(--accent-color);
}

.customers-list__card:hover .customers-list__icon,
.customers-list__card:focus .customers-list__icon {
  fill: var(--accent-color);
}

/* footer */

.footer {
  padding-bottom: 60px;
  padding-top: 60px;

  background-color: var(--footer-bg-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-container-logo {
  margin-right: 70px;
}

.subscribe,
.newsletter {
  margin-top: 10px;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--accent-text-color);
}

.social-footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  background: rgba(255, 255, 255, 0.1);

  cursor: pointer;

  transition: background-color var(--fast-transition);
}

.social-footer-icons:hover,
.social-footer-icons:focus {
  background-color: var(--accent-color);
}

.social-footer-icon {
  fill: var(--accent-text-color);
}

.logo-footer {
  display: inline-block;

  margin-bottom: 20px;

  font-family: var(--secondary-text-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-text-color);
}

.footer-contacts li:not(:last-child) {
  margin-bottom: 9px;
}

.address,
.mail,
.phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;

  color: var(--accent-text-color);

  transition: color var(--fast-transition);
}

.mail,
.phone {
  color: var(--footer-text-color);

  transition: color var(--fast-transition);
}

.mail {
  margin: 9px 0;
}

.address:hover,
.mail:hover,
.phone:hover,
.address:focus,
.mail:focus,
.phone:focus {
  color: var(--accent-color);
}

.mailing {
  margin-left: 93px;
}

.btn-subscribe {
  position: relative;
  width: 200px;
  padding-top: 10px;
  padding-right: 29px;
  padding-bottom: 10px;
  /* padding-left: 29px; */

  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  color: var(--accent-text-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;

  border-radius: 4px;
}

.footer-subscribe-icon {
  position: absolute;
  top: 25%;
  right: 28px;
  display: flex;
  justify-content: center;

  fill: var(--accent-text-color);
}

.subscribe-text {
  margin-right: 10px;
}

.mailing-input {
  width: 358px;
  height: 50px;

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

input[placeholder='E-mail'] {
  padding: 15px;
  color: var(--accent-text-color);

  cursor: pointer;
}

/* portfolio \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.examples-works {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.examples-works li + li {
  margin-left: 8px;
}

.examples {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: -30px;
}

.buttons {
  padding: 6px 22px;
  border: 2px solid transparent;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;

  cursor: pointer;

  transition: color var(--fast-transition), background-color var(--fast-transition),
    box-shadow var(--fast-transition);
}

.buttons:hover,
.buttons:focus {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-text-color);
}
.example-work {
  font-size: 16px;
  line-height: 1.88;

  color: var(--secondary-text-color);
}

.card-portfolio {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-portfolio-img {
  position: relative;
  overflow: hidden;
}

.card-portfolio-title {
  padding: 20px 24px;
  border: 1px solid var(--border-color);

  text-align: left;
  border-top: none;
}

.card-portfolio-list {
  display: block;
  transition: box-shadow var(--fast-transition);
}

.card-portfolio-list:hover,
.card-portfolio-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.example-text {
  position: absolute;
  top: 100%;
  left: 0;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;

  color: var(--accent-text-color);
  background: rgba(33, 150, 243, 0.9);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transform: translateY(0);
  transition: var(--fast-transition);
}

.example-text p {
  text-align: left;
}

.card-portfolio:hover .example-text {
  transform: translateY(-100%);
  transition: var(--fast-transition);
}

.examples-buttons {
  border-radius: 4px;
}

.card-portfolio:nth-child(3n) {
  margin-right: 0;
}
