.section-title {
  text-align: center;

  margin-bottom: 30px;

  font-size: 28px;
  line-height: 1.18;
  font-weight: 700;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 1.18;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
  }
}

.title-advantages.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
