.modal-icon-input {
  position: absolute;
  top: 50%;
  left: 12px;

  transition: fill var(--fast-transition);

  .user-input:hover + &,
  .user-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-icon-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;

  border: 2px solid var(--primary-text-color);
  border-radius: 3px;

  transition: border-color var(--fast-transition), background-color var(--fast-transition);

  .user-input-checkbox:checked + & {
    border-color: transparent;
    background-color: var(--accent-color);
  }
}

.modal-icon-check {
  flex-shrink: 0;
  fill: transparent;

  transition: fill var(--fast-transition);

  .user-input-checkbox:checked + .modal-icon-checkbox > & {
    fill: var(--accent-text-color);
  }
}
