.advantages {
  &__wrapper-flex {
    display: flex;
    flex-wrap: wrap;
  }
}

.wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;
  margin-bottom: 30px;
  border-radius: 3px;

  background-color: var(--secondary-bg-color);
}

.advantage {
  // flex-grow: 1;
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
  &:nth-child(4n) {
    margin-right: 0;
    // }
  }
}

.advantages-text {
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}
