.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  gap: 30px;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 210px;
    height: 92px;
    border-radius: 3px;
    border: 1px solid var(--secondary-border-color);

    cursor: pointer;

    transition: border var(--fast-transition);

    &:hover,
    &:focus {
      border: 1px solid var(--accent-color);
    }

    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }
  }

  &__icon {
    fill: var(--secondary-border-color);

    transition: fill var(--fast-transition);

    .customers-list__card:hover &,
    .customers-list__card:focus & {
      fill: var(--accent-color);
    }
  }
}
