.footer {
  padding-bottom: 60px;
  padding-top: 60px;

  background-color: var(--footer-bg-color);
  max-height: 100%;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    // display: flex;
    // justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer-container-logo {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-right: 70px;
  }
}

.footer-tablet {
  width: 100%;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.follow {
  text-align: center;
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: 0;
  }
}

.subscribe,
.newsletter {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--accent-text-color);
}

.logo-footer {
  display: inline-block;

  margin-bottom: 20px;

  font-family: var(--secondary-text-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-text-color);
}

.footer-contacts li:not(:last-child) {
  margin-bottom: 8px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 9px;
  }
}

.address,
.mail,
.phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;

  color: var(--accent-text-color);

  transition: color var(--fast-transition);
}

.mail,
.phone {
  color: var(--footer-text-color);

  transition: color var(--fast-transition);
}

.address:hover,
.mail:hover,
.phone:hover,
.address:focus,
.mail:focus,
.phone:focus {
  color: var(--accent-color);
}

.mailing {
  width: 100%;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    text-align: left;
  }
}

.mailing-box {
  // width: 450px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // flex-shrink: 1;
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    // flex-shrink: 1;
  }
}

.mailing-box label {
  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.mailing-box button {
  margin-left: auto;
  margin-right: auto;
}

.footer-subscribe-icon {
  position: absolute;
  top: 25%;
  right: 28px;
  display: flex;
  justify-content: center;

  fill: var(--accent-text-color);
}

.subscribe-text {
  margin-right: 10px;
}
